<form [formGroup]="formularioLocal" (ngSubmit)="onSubmit()">
  <div class="form-title">Registrar local</div> <div class="form-row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Cidade</mat-label>
      <input matInput formControlName="cidade" readonly>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Bairro</mat-label>
  <input type="text"
         matInput
         formControlName="bairro"
         [matAutocomplete]="autoBairros">

  <mat-autocomplete #autoBairros="matAutocomplete">
    <mat-option *ngFor="let bairro of bairrosFiltrados" [value]="bairro">
      {{ bairro }}
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="formularioLocal.get('bairro')?.hasError('required') && formularioLocal.get('bairro')?.touched">
  Bairro é obrigatório.
</mat-error>
<mat-error *ngIf="formularioLocal.get('bairro')?.hasError('bairroInvalido') && formularioLocal.get('bairro')?.touched">
  Selecione um bairro válido da lista.
</mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Rua</mat-label>
      <input matInput formControlName="rua" required>
      <mat-error *ngIf="formularioLocal.get('rua')?.hasError('required') && formularioLocal.get('rua')?.touched">
        Rua é obrigatório.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="full-width">
<mat-label>Tipo do local</mat-label>
  <input
    type="text"
    matInput
    formControlName="tipoLocal"
    [matAutocomplete]="autoTipoLocais">
  
  <mat-autocomplete #autoTipoLocais="matAutocomplete">
    <mat-option *ngFor="let tiposLocal of tiposLocalFiltrados" [value]="tiposLocal">
      {{ tiposLocal }}
    </mat-option>
  </mat-autocomplete>

  <mat-error *ngIf="formularioLocal.get('tipoLocal')?.hasError('required') && formularioLocal.get('tipoLocal')?.touched">
    Tipo do local é obrigatório.
  </mat-error>
  <mat-error *ngIf="formularioLocal.get('tipoLocal')?.hasError('tipoLocaisInvalido') && formularioLocal.get('tipoLocal')?.touched">
    Selecione um tipo válido da lista.
  </mat-error>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-label>Acessível?</mat-label>
    <mat-radio-group aria-label="Acessível?" formControlName="acessivel" required class="radio-group">
      <mat-radio-button [value]="true" class="radio-button">Sim</mat-radio-button>
      <mat-radio-button [value]="false" class="radio-button">Não</mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="formularioLocal.get('acessivel')?.hasError('required') && formularioLocal.get('acessivel')?.touched">
      Campo 'Acessível?' é obrigatório.
    </mat-error>
  </div>

  <div class="form-row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="descricao" rows="3"></textarea>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="!formularioLocal.valid || isLoading">
    <mat-icon *ngIf="!isLoading">send</mat-icon>
    <mat-progress-spinner *ngIf="isLoading" diameter="20" mode="indeterminate"></mat-progress-spinner>
    Enviar
  </button>
</form>