<div class="main-content-area">
  <div class="map-background"></div>

  <div class="content-cards-container">
    <mat-card class="form-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-formulario-local></app-formulario-local>
      </mat-card-content>
    </mat-card>

    <mat-card class="list-card">
      <mat-card-header>
        <mat-card-title>Locais</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-lista-locais
        [limit]="3" 
        [offset]="0" 
        [showPaginator]="false">
      </app-lista-locais>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<button mat-fab color="accent" class="fab-accessibility">
  <mat-icon>accessibility</mat-icon>
</button>
